{{ define "main" }}
    <div class="block-hero">
        {{ $hero := .Site.GetPage "/homepage_hero" }}
        <div class="block-summary">
            {{ range $hero.Resources.Match "title.md" }}
            {{ .Content }}
            {{ end }}
        </div>
        <div class="block-features">
            {{ range $hero.Resources.Match "features.md" }}
            {{ .Content }}
            {{ end }}
        </div>
        <div class="block-actions">
            {{ range $hero.Resources.Match "actions.html" }}
            {{ .Content }}
            {{ end }}
        </div>
    </div>
    <div class="r-bg--secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm hero-links">
                    {{ range $hero.Resources.Match "hero-links.*"}}
                    {{ .Content }}
                    {{ end}}
                </div>
            </div>
        </div>
    </div>

<div class="r-bg--light" id="project">
    <div class="container">
        <div class="row">
            {{ $blocks := .Site.GetPage "/homepage_blocks" }}
            {{ with $blocks.Resources.ByType "page" }}
            {{ range sort . ".Params.position" }}
            <div class="{{ if .Params.mdGridWidth }}col-md-{{.Params.mdGridWidth}}{{ end }} col-lg-{{ .Params.gridWidth }} py-4 my-4 {{ if .Params.card }} card card--pop {{ end }} {{ .Params.classes }}">
                {{ .Content }}
            </div>
            {{ end }}
            {{ end }}
        </div>

    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-sm">
            {{ $blocks := .Site.GetPage "/homepage_faqs" }}
            <h2 id="faq">{{ $blocks.Title }}</h2>
            <div class="accordion" id="accordionFaq">
                {{ with $blocks.Resources.ByType "page" }}
                {{ range $index, $page := sort . ".Params.position" }}
                <div class="card">
                    <div class="card-header" id="{{ if .Params.cardId }}h{{.Params.cardId}}{{else}}faqH{{ $index }}{{end}}">
                        <h2 class="mb-0"> <button class="btn btn-block collapsed text-left" type="button" data-toggle="collapse" data-target="#{{ if .Params.cardId }}c{{.Params.cardId}}{{else}}faqC{{ $index }}{{end}}" aria-expanded="false" aria-controls="{{ if .Params.cardId }}c{{.Params.cardId}}{{else}}faqH{{ $index }}{{end}}">
                            {{ .Title | markdownify }}
                        </button></h2>
                    </div>

                    <div id="{{ if .Params.cardId }}c{{.Params.cardId}}{{else}}faqC{{ $index }}{{end}}" class="collapse" aria-labelledby="{{ if .Params.cardId }}h{{.Params.cardId}}{{else}}faqH{{ $index }}{{end}}" data-parent="#accordionFaq">
                        <div class="card-body">
                            {{ .Content }}
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-sm">
            {{ $rm := .Site.GetPage "roadmap.md" }}
            <h2 id="roadmap">{{ $rm.Title}}</h2>
                {{ $rm.Content }}
        </div>
    </div>
</div>

{{ end }}
