$r3fi-colour-primary: #260f38;
$r3fi-colour-secondary: #a84988;

$r3fi-bg-dark: $r3fi-colour-primary;
$r3fi-bg-secondary: $r3fi-colour-secondary;
$r3fi-bg-tertiary: #b9a6ba;
$r3fi-bg-light: #FFF;

$r3fi-body-text-colour: #313131;

$r3fi-text-light: #FFF;

$r3fi-link-colour: #2cacb5;

